Source: lpzrobots-selforg
Section: math
Priority: optional
Maintainer: Georg Martius <georg.martius@web.de>
Build-Depends: debhelper (>= 7), quilt, 
 libreadline-dev, xutils-dev, libgsl0-dev, m4
Standards-Version: 3.8.4
Homepage: http://robot.informatik.uni-leipzig.de/software

Package: lpzrobots-selforg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libc6-dev | libc-dev, g++, make, xutils-dev,
 libncurses-dev, libreadline-dev, libgsl0-dev
Recommends: guilogger, matrixviz
Description: Implementation of homeokinetic algorithms for robot control
 This is a framework for robot controllers containing a couple of helper
 classes to support easy connection of a controller to a robot and 
 to configure parameters and display/log time-dependent values.
 In particular the homeokinetic algorithms by Ralf Der, Georg Martius,
  Frank Hesse, Frank Guettler and coworkers are implemented.
